/* Header Styles */
header {
    background-color: #f1f1f1;
    padding: 2%;
    display: flex; /* Используем flexbox для расположения элементов */
    justify-content: space-between; /* Равномерно распределяем элементы по горизонтали */
    align-items: center; /* Выравниваем элементы по вертикали */
    font-size: 20px;

}


/* Navigation Styles */
nav {
    display: flex;
    gap: 10px; /* Пространство между кнопками */
}

nav a {
    background-color: #4CAF50;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
}

nav a:hover {
    background-color: #3e8e41;
}

.logo {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2%;
}

.logo img {
    width: 100%;
    height: auto;
}

/* Error Message Styles */
.error-message {
    color: red;
    text-align: center; /* Центрирование текста */
    font-size: 40px;
}
.error-discount-message {
    color: red;
    text-align: center; /* Центрирование текста */
    font-size: 20px;}
/* Success Message Styles */
.success-message {
    color: green;
    text-align: center; /* Центрирование текста */
    font-size: 40px;
}
.error-success-message {
    color: green;
    text-align: center;
    font-size: 20px;
}
/* Pay form Styles */
.pay-form {
    color: black;
    text-align: center; /* Центрирование текста */
    font-size: 40px;
}
/* Cart Item Styles */
.cart-item {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-size: 20px; /* Font size set to 20px */
}

/* Login Form Styles */
.login-form {
    margin-top: 20px;
    margin-left: 20%; /* Centering horizontally */
    margin-right: 20%;
}
.login-heading {
    margin-top: 20px; /* Примерный отступ сверху */
    text-align: center; /* Центрирование текста */
    font-size: 40px;
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px; /* Font size set to 20px */
}

.login-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 20px; /* Font size set to 20px */

}

.login-form input[type="submit"]:hover {
    background-color: #45a049;
    font-size: 20px; /* Font size set to 20px */
}

/* Pizza Item Styles */
.pizza-item {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-size: 20px; /* Font size set to 20px */
}

.pizza-item h3 {
    margin-bottom: 5px;
    font-size: 20px; /* Font size set to 20px */
}

.pizza-item p {
    margin-bottom: 10px;
    font-size: 20px; /* Font size set to 20px */
}

.pizza-item form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-size: 20px; /* Font size set to 20px */
}

.pizza-item form input[type="submit"]:hover {
    background-color: #45a049;
    font-size: 20px; /* Font size set to 20px */
}

/* Register Form Styles */
.register-form {
    margin-top: 20px;
    margin-left: 20%; /* Centering horizontally */
    margin-right: 20%;
    font-size: 20px; /* Font size set to 20px */
}
.registration-heading {
    margin-top: 20px; /* Примерный отступ сверху */
    text-align: center; /* Центрирование текста */
    font-size: 40px;
}
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px; /* Font size set to 20px */
}

.register-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 20px; /* Font size set to 20px */
}

.register-form input[type="submit"]:hover {
    background-color: #45a049;
    font-size: 20px; /* Font size set to 20px */
}

/* Review Item Styles */
/* Review Item Styles */
.review-item {
    margin-left: 10%; /* Centering horizontally */
    margin-right: 10%;
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px; /* Font size set to 20px */
}

.review-item h3 {
    margin-bottom: 5px;
    font-size: 20px; /* Font size set to 20px */
}

.review-item p {
    margin-bottom: 10px;
    font-size: 20px; /* Font size set to 20px */
}

/* Review Form Styles */
.review-form {
    margin-top: 20px;
    font-size: 20px; /* Font size set to 20px */
    margin-left: 10%; /* Centering horizontally */
    margin-right: 20%;
}

.review-form input[type="number"],
.review-form textarea,
.review-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px; /* Font size set to 20px */
}

.review-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 20px; /* Font size set to 20px */
}

.review-form input[type="submit"]:hover {
    background-color: #45a049;
    font-size: 20px; /* Font size set to 20px */
}

.review-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 30px;
}


/* Review Form Styles */
.review-form-container {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

