/* Header Styles */
header {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
}

.site-title {
    color: inherit; /* Использует цвет текста, унаследованный от родительского элемента */
    text-decoration: none; /* Убирает подчеркивание ссылки */
}

.site-title:hover {
    color: inherit; /* Использует цвет текста, унаследованный от родительского элемента */
    text-decoration: none; /* Убирает подчеркивание ссылки */
}

h1 {
    margin-right: 5%; /* Отступ справа от названия в процентах */
}

/* Navigation Styles */
nav {
    display: flex;
    gap: 10px; /* Отступ между кнопками */
    margin-left: auto; /* Это выравнивает элементы справа */
}

nav a {
    background-color: #f90;
    color: white;
    padding: 16px 24px; /* Отступы внутри кнопок */
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 24px; /* Размер шрифта в зависимости от ширины экрана */
    flex-grow: 1; /* Растягиваем кнопки на всю доступную ширину */
}

nav a:hover {
    color: white;
    background-color: #e08700;
}

img, svg {
    vertical-align: middle;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

nav a.profile-button {
    font-size: 26px;
    background-color: #f1f1f1;
    color: black;
}

nav a.profile-button:hover {
    background-color: #f1f1f1;
    color: #f90;
}

.logo {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2%;
}

.logo img {
    width: 100%;
    height: auto;
}

.ava {
    width: 10%;
    height: 10%;
    overflow: hidden;
    margin-right: 2%;
}

.ava img {
    width: 100%;
    height: auto;
}

body {
  margin: 0;
}

/* Error Message Styles */
.error-message {
    color: red;
    text-align: center; /* Центрирование текста */
    font-size: 40px;
}

.error-message1 {
    color: #4d4943;
    text-align: center;
    font-size: 20px;
}

.error-message1 h1 {
    color: #383838;
    font-size: 80px;
}

.error-discount-message {
    color: red;
    text-align: center; /* Центрирование текста */
    font-size: 20px;}
/* Success Message Styles */
.success-message {
    color: #fa0;
    text-align: center; /* Центрирование текста */
    font-size: 40px;
}
.error-success-message {
    color: #fa0;
    text-align: center;
    font-size: 20px;
}
.containererr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}
.logoerr {
    height: 20%;
    border-radius: 50%;
    overflow: hidden;
}
.ret {
    background-color: orange;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
}
.ret a{
    text-decoration: none;
    color: white;
}
.ret:hover {
    background-color: darkorange;
    text-decoration: none;

}

/* Pay form Styles */
.pay-form {
    color: black;
    text-align: center; /* Центрирование текста */
    font-size: 40px;
}
/* Cart Item Styles */
.cart-item {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-size: 20px; /* Font size set to 20px */
}
.cart-itog {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}
/* Login Form Styles */
.login-form {
    margin-top: 20px;
    margin-left: 20%; /* Centering horizontally */
    margin-right: 20%;
}
.login-heading {
    margin-top: 20px; /* Примерный отступ сверху */
    text-align: center; /* Центрирование текста */
    font-size: 40px;
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px; /* Font size set to 20px */
}

.login-form input[type="submit"] {
    background-color: #f90;
    color: white;
    cursor: pointer;
    font-size: 20px; /* Font size set to 20px */

}

.login-form input[type="submit"]:hover {
    background-color: #e08700;
    font-size: 20px; /* Font size set to 20px */
}

/* Pizza Item Styles */
.pizza-item {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-size: 20px; /* Font size set to 20px */
}
.pizza-cart {
    margin: 10px;
    font-size: 20px; /* Font size set to 20px */
}
.pizza-cart form input[type="submit"] {
    background-color: orange;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-size: 20px;
}

.pizza-cart form input[type="submit"]:hover {
    background-color: darkorange;
    font-size: 20px;
}
.pizza-item h3 {
    margin-bottom: 5px;
    font-size: 20px; /* Font size set to 20px */
}

.pizza-item p {
    margin-bottom: 10px;
    font-size: 20px; /* Font size set to 20px */
}

.pizza-item form input[type="submit"] {
    background-color: #f90;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-size: 20px; /* Font size set to 20px */
}

.pizza-item form input[type="submit"]:hover {
    background-color: #e08700;
    font-size: 20px; /* Font size set to 20px */
}

/* Register Form Styles */
.register-form {
    margin-top: 20px;
    margin-left: 20%; /* Centering horizontally */
    margin-right: 20%;
    font-size: 20px; /* Font size set to 20px */
}
.registration-heading {
    margin-top: 20px; /* Примерный отступ сверху */
    text-align: center; /* Центрирование текста */
    font-size: 40px;
}
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px; /* Font size set to 20px */
}

.register-form input[type="submit"] {
    background-color: #f90;
    color: white;
    cursor: pointer;
    font-size: 20px; /* Font size set to 20px */
}

.register-form input[type="submit"]:hover {
    background-color: #e08700;
    font-size: 20px; /* Font size set to 20px */
}

/* Review Item Styles */
/* Review Item Styles */
.review-item {
    margin-left: 10%; /* Centering horizontally */
    margin-right: 10%;
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px; /* Font size set to 20px */
}

.review-item h3 {
    margin-bottom: 5px;
    font-size: 20px; /* Font size set to 20px */
}

.review-item p {
    margin-bottom: 10px;
    font-size: 20px; /* Font size set to 20px */
}

/* Review Form Styles */
.review-form {
    margin-top: 20px;
    font-size: 20px; /* Font size set to 20px */
    margin-left: 10%; /* Centering horizontally */
    margin-right: 20%;
}

.review-form input[type="number"],
.review-form textarea,
.review-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px; /* Font size set to 20px */
}

.review-form input[type="submit"] {
    background-color: #f90;
    color: white;
    cursor: pointer;
    font-size: 20px; /* Font size set to 20px */
}

.review-form input[type="submit"]:hover {
    background-color: #e08700;
    font-size: 20px; /* Font size set to 20px */
}

.review-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 30px;
}


/* Review Form Styles */
.review-form-container {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.text-center mt-3 {
    width: 200px;
    font-size: 20px;
    padding: 10px 20px;
}

