{% extends 'base.html' %}

{% block title %}Корзина - PizzaParadise{% endblock %}

{% block content %}
{% if user_id is none %}
    <h2 class="error-message">{{ error_message }}</h2>
{% else %}
    {% if cart_items %}
        {% for item in cart_items %}
            <div class="cart-item">
                <h3>{{ item.name }}</h3>
                <!-- Построение пути к изображению на основе первой буквы названия пиццы -->
                {% set image_filename = 'static/images/pizza/' + item.name|first + '.jpg' %}
                <!-- Проверка наличия изображения -->
                {% if image_filename %}
                    <img src="{{ image_filename }}" alt="{{ image_filename }}" width="200" height="150">
                {% else %}
                    <p>Изображение не найдено</p>
                {% endif %}
                <p>Количество: {{ item.quantity }}</p>
                <p>Стоимость: {{ item.price * item.quantity }} руб.</p>
            </div>
        {% endfor %}
        <div class="pizza-cart">
            <h2>Итого: {{ total_price }} руб.</h2>
             <form action="{{ url_for('payment') }}" method="post">
                <input type="hidden" name="total_price" value="{{ total_price }}">

                <input type="submit" value="Оплатить">
            </form>
        </div>
    {% else %}
        <h2 class="success-message">Корзина пуста</h2>
    {% endif %}
{% endif %}
{% endblock %}
