<!-- error.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="containererr">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Логотип" class="logoerr">
    <div class="error-message1">
        <h1 class="error-404">Error {{ error_type }}</h1>
        <h2>Что-то пошло не так...</h2>
        <h3>{{ error_message[0] }}<br>
            {{error_message[1]}}<br>
            {{error_message[2]}}</h3>
        <div class="ret">
            <a href="{{ url_for('menu') }}">Вернуться в меню</a>
        </div>
    </div>
</div>
</body>
</html>
