{% extends 'base.html' %}

{% block title %}Меню - PizzaParadise{% endblock %}

{% block content %}
{% for pizza in MENU %}
<div class="pizza-item">
    <h3>{{ pizza.name }}</h3>
    <p>{{ pizza.weight }} - {{ pizza.price }} руб.</p>
    <form action="{{ url_for('add_to_cart') }}" method="post">
        <input type="hidden" name="name" value="{{ pizza.name }}">
        <input type="hidden" name="price" value="{{ pizza.price }}">
        <input type="submit" value="Добавить в корзину">
    </form>
</div>
{% endfor %}
{% endblock %}
