{% extends 'base.html' %}
{% block title %}Успешная оплата - PizzaParadise{% endblock %}
{% block content %}
<h2 class="success-message">Оплата заказа в размере {{ total_price }} руб. успешно выполнена.</h2>
<!-- Кнопка для возврата на предыдущую страницу -->
<form action="/menu" method="get">
    <div class="text-center mt-3" align="center">
        <button type="submit" class="btn btn-primary"
                style="width: 200px; font-size: 20px; padding: 10px 20px;">В меню</button>
    </div>
</form>


<script>
    // Проверяем, была ли страница перезагружена
    if (performance.navigation.type === 1) {
        // Если страница была перезагружена, перенаправляем пользователя на страницу меню
        window.location.href = '{{ url_for("menu") }}';
    }

</script>

{% endblock %}
