{% extends 'base.html' %}

{% block title %}Отзывы - PizzaParadise{% endblock %}

{% block content %}
{% for review in reviews_data %}
<div class="review-item">
    <h3>Имя: {{ review[3] }}</h3>
    <p>Рейтинг: {{ review[4] }}</p>
    <p>Комментарий: {{ review[5] }}</p>
</div>
{% endfor %}
{% if user_id is not none %}
{% if not review_exists %}
<form action="{{ url_for('add_review') }}" method="post" class="review-form">
    <input type="text" name="author" placeholder="Ваше имя" required><br>
    <input type="number" name="rating" min="1" max="5" placeholder="Рейтинг (от 1 до 5)" required><br>
    <textarea name="comment" placeholder="Ваш отзыв" required></textarea><br>
    <input type="submit" value="Написать отзыв">
</form>
{% endif %}
{% endif %}
{% endblock %}
